
.texto {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.obj {
    width: 40%;
    border-radius: 20px;
    background-color: rgb(188, 188, 247);


}

.objetivo {
    color: rgb(88, 87, 153);
    font-size: 2rem;
} 
.objetivo_metas{
 background-color: rgb(102, 94, 84);
 display: flex;
 justify-content: center;
 align-items: center;
 color:map-get($estilos, colortabla);
 width: 50rem;
 font-size: map-get($estilos, fuente1);
}


.card-text {
    color: #7c8ca0;
}

.card-title {
    color: rgb(250, 248, 248);
}
.con {
    padding: 50px;
    display: flex;
    justify-content: space-around;

}


