
.texto {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.obj {
    width: 40%;
    border-radius: 20px;
    background-color: rgb(188, 188, 247);


}

.objetivo {
    color: rgb(221, 220, 236);
	font-family: monospace;
} 
.objetivo_metas{
 background-color: rgb(102, 94, 84);
 display: flex;
 justify-content: center;
 align-items: center;
 color:map-get($estilos, colortabla);
 width: 50rem;
 font-size: map-get($estilos, fuente1);
}


.card-text {
    color: #7c8ca0;
}

.card-title {
    color: rgb(250, 248, 248);
}
.con {
    padding: 50px;
    display: flex;
    justify-content: space-around;

}
.cartaservi{
	margin: 30px;
	
}
.cartaservi:hover{
	color: #c5d0dd;
	-webkit-box-shadow: 0px 0px 10px 1px #075F91;
  box-shadow: 0px 0px 10px 1px #075F91;
}


.contenedor {
	position: relative;
	width: 100%;
	margin: 0 auto;
	transition: all 0.3s ease-out;
	margin-top: 50px;
	margin-bottom: 20px;
	display: block;
	
}

.contenedor-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.contenedor-cards .contenedor-card-item {
	
	width: 20%;
	margin: 5%;
	height: 20%;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	border-radius: 5px;
	cursor: help;
}


.contenedor-cards .contenedor-card-item:hover {
	object-fit:cover;
	box-shadow: 0 15px 30px rgba(0,0,0,0.3);
	-webkit-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	-o-transform: translateY(-5px);
	transform: translateY(-20px);
}

.contenedor-card-item-wrapper {
	overflow: hidden;
	position: relative !important;
	background: #3E2723;
	border-radius: 5px;
}

.contenedor-card-item img {
	max-width: 100%;
	position: relative;
	top: 0;
	-webkit-transition: all 0.3s cubic-bezier(0.500, 0.045, 0.355, 1);
	transition: all 0.3s cubic-bezier(0.500, 0.045, 0.355, 1);
	border-radius: 5px; 
}

.contenedor-card-item .contenedor-info {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: -70px;
	-webkit-transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
	transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.contenedor-card-item .contenedor-info .fondo {
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.73) 53%, rgba(0,0,0,0.88) 100%);
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.73) 53%,rgba(0,0,0,0.88) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0000000',GradientType=0 );
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.contenedor-card-item .contenedor-info .info {
	color: #fff;
	position: relative;
	z-index: 500;
	padding: 20px 15px;
}

.contenedor-card-item .contenedor-info .info .titulo {
  margin: 0;
  font-size: 1.2rem;
}

.contenedor-card-item .contenedor-info .info .categoria {
	display: block;
	font-size: 0.9rem;
}

.contenedor-card-item:hover .contenedor-info {
	bottom: 0;
}

.contenedor-card-item:hover img {
	top: -30px;
	-webkit-transform: rotate(-5deg) scale(1);
	-ms-transform: rotate(-5deg) scale(1);
	-o-transform: rotate(-5deg) scale(1);
	transform: rotate(-5deg) scale(2);
}

