
body {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

$estilos:(
    color:rgb(156, 156, 185),
    fuente1:'Big Shoulders Stencil Display',
    fuente2:'roboto',
    colortabla:aliceblue,

);

h1{color:  map-get($estilos, color );
    font-size: 4.6rem;
    font-family: map-get($estilos, fuente1);

}

h2 {color: rgb(31, 53, 54);
    font-family: map-get($estilos, fuente2 );
    font-size: 3rem;
    
}

h3 {color: rgb(192, 240, 243);
    font-family: map-get($estilos, fuente2 );
    font-size: 2.5rem;
    
}

h4 {
    font-family: 'Lato';
    color: #1e2227;
    font-size: 1.5 rem;
    
}
em{
    font-size: 1.5rem;
}
.art:hover{
    color: rgb(144, 138, 209);
    font-size: 1.5rem;
    -webkit-box-shadow: 0px 0px 10px 1px #075F91;
  -moz-box-shadow:    0px 0px 10px 1px #075F91;
  box-shadow:         0px 0px 10px 1px #075F91;
}
li{
    padding: 1rem;
}
.log{
    width: 350px;
}
.log:hover{
    -webkit-box-shadow: 0px 0px 10px 1px #075F91;
  -moz-box-shadow:    0px 0px 10px 1px #075F91;
  box-shadow:         0px 0px 10px 1px #075F91;
}

.gris {
    color: #000000;

}
.carrusel {
    height: 50vh;
    object-fit: cover;
}


.carrusel2 {
    height: 70vh;
    object-fit: cover;
}

.row {
    padding: 50px;
}

.im {
    height: 150px;
    object-fit: cover;
}


th {
    color: map-get($estilos, colortabla);   
}
td {
    color: map-get($estilos, colortabla);
}

 tr {
    color: map-get($estilos, colortabla);
}

.con {
    padding: 20px;
    display: flex;
    justify-content: space-around;

}
.cont{
    
    @extend .con;
    color: aliceblue;
}

.gris {
    color: #000000;
}

#fiscal{
    color: rgb(250, 248, 248);
}

#otras {
    color: rgb(22, 13, 13);
}

.capa {
    color: rgb(136, 132, 132);
}


.botonform {
    font-size:17px;
    font-family:roboto;
    width:90px;
    height:41px;
    border-width:3px;
    color:rgb(71, 68, 68);
    border-color:rgb(27, 5, 80);
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:8px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:8px;
    box-shadow: 4px 4px 0px 0px rgb(90, 68, 117);
    text-shadow: 0px 1px 0px #524d68;
    background:linear-gradient(rgba(193, 241, 198, 1), rgb(124, 94, 207));
  }
  
.botonform:hover {
    background: linear-gradient(rgb(124, 94, 207), rgba(193, 241, 198, 1));
  }

.botonform2{
    background:linear-gradient(rgb(80, 71, 133), rgb(220, 218, 238));
    border-color:rgb(27, 5, 80);
    box-shadow: 4px 4px 0px 0px rgb(178, 159, 247);
    @extend .botonform
}
.botonform2:hover {
    background: linear-gradient(rgb(230, 225, 225), rgb(108, 97, 138));
  }               
@mixin botones {
     display: flex;
     justify-content: center;
     align-items: center;
      
}
.boton{
     @include botones
 }

 .boton2{
     @extend .boton;
     
 }
 .btn-vert {
    color: #63B1D0;
    text-decoration: none;
    margin: 5px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
  }
  
 
  
  .botong
  {@include botones;
    position: relative;
    display: block;
    height: 50px;
    width: 130px;
    border: none;
    background-color: #312f35;
    color: white;
    font-size: 1,2rem;
    font-weight: bold;
    transition: 0.25s;
    overflow: hidden;
  }
 
 
  .botong:hover
  {
  box-shadow:         0px 0px 10px 1px #9fc4e9;
  }

  .botong2{
      @include botones;
      background-color:#141E30;
      height: 30px;
      width: 50%;
      position: relative;
    display: block;
    border: none;
    background-color: #312f35;
    color: white;
    font-size: 18px;
    font-weight: bold;
    transition: 0.25s;
    overflow: hidden;
  }
  .botong2:hover{
    box-shadow:         0px 0px 10px 1px #9fc4e9;

  }
    
  .botong3{
      @extend .botong;
      border-radius: 8%;
      border-bottom: #4667a5;
  }
 
 
 
textarea {
    resize: none;
}


.contac{
    background-color: #d6cef5;

  }
.colorletra{
    
    font-family:'roboto';
  }
  
.tit{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.suave:hover{
  background-color: #5d6bec;
  color: #000000;
}
.fuerte:hover{
  background-color: #dce3f0;
  color: #c9baf0;
  width: 1290px;
  margin: 10px;
  font-size: 1rem;
  text-align: center;
}
.tarjeta{
    box-sizing: content-box;
}
.pa{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1 rem;
  margin: 50px;
}
.aviso{
    @extend .objetivo_metas
}



